*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.body-background{
    background-color: lightgray;
}
.welcome-header{
    border: 2px solid black;
    background-color: lightblue;
    margin: 20px;
    padding: 15px;
}
.welcome-h1{
    text-align: center;
    color: purple;
}
.info{
    text-align: center;
}
.main-form{
    text-align: center;
}
input[type=text]{
    padding: 5px;
    margin: 4px;
}
label{
    padding: 10px;
}
input[type=submit]{
    font-size: larger;
    padding: 5px;
    margin: 5px;
    border-radius: 1%;
    transition: .3s;
}
input[type=submit]:hover{
    scale: 1.1;
    background-color: black;
    color: white;
}

/* GAME STYLING */
.game-header h1{
    text-align: center;
}
table{
    border-collapse: collapse; width: 50%;
}
tr:nth-child(even) { 
    background-color: #f2f2f2; 
}
td{
    padding: 12px; border: 1px solid #ddd; text-align: center; font-size: 16px;
}
.words{
    display: flex;
    justify-content: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
.past-guesses,
.result-message,
.guess-section {
    flex-basis: 33.3%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}
.guesses-list{
    text-align: center;
}
.game-over-button{
    text-align: right;
}
.game-over-button a button{
    cursor: pointer;
    font-size: large;
}
.guess-form{
    text-align: center;
}
body p{
    color: green;
    text-align: center;
}

/* GAME OVER PAGE STYLING */
.game-over{
    background-color: bisque;
    border: 2px solid black;
    padding: 3rem;
    text-align: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
}
.game-over p{
    color: black;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.game-over a{
    padding: 8px;
    height: 20px;
    border: 2px solid black;
    background-color: rgb(235, 235, 235);
    color: black;
    margin: auto;
    width: 15%;
    text-decoration: none;
    transition: .3s;
}
.game-over a:hover{
    scale: 1.1;
    background-color: black;
    color: white;
}
.game-over span{
    margin: 10px;
}
.game-over-body{
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;
}
.options{
    text-align: center;
}

.play-again-form,
a {
    display: inline-block;
    margin: 10px; /* Adjust the margin as needed */
}